<%= form_for(@rua) do |f| %>
  <% if @rua.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rua.errors.count, "error") %> prohibited this rua from being saved:</h2>

      <ul>
      <% @rua.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :rotum_id %><br>
    <%= f.text_field :rotum_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
