<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @rua.nome %>
</p>

<p>
  <strong>Rotum:</strong>
  <%= @rua.rotum %>
</p>

<%= link_to 'Edit', edit_rua_path(@rua) %> |
<%= link_to 'Back', ruas_path %>
