<%= form_for(@linha) do |f| %>
  <% if @linha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@linha.errors.count, "error") %> prohibited this linha from being saved:</h2>

      <ul>
      <% @linha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
