<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @linha.numero %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @linha.descricao %>
</p>

<%= link_to 'Edit', edit_linha_path(@linha) %> |
<%= link_to 'Back', linhas_path %>
