<%= form_for(@rotum) do |f| %>
  <% if @rotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rotum.errors.count, "error") %> prohibited this rotum from being saved:</h2>

      <ul>
      <% @rotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :destino %><br>
    <%= f.text_field :destino %>
  </div>
  <div class="field">
    <%= f.label :origem %><br>
    <%= f.text_field :origem %>
  </div>
  <div class="field">
    <%= f.label :linha_id %><br>
    <%= f.text_field :linha_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
