<p id="notice"><%= notice %></p>

<h1>Listing Rota</h1>

<table>
  <thead>
    <tr>
      <th>Destino</th>
      <th>Origem</th>
      <th>Linha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rota.each do |rotum| %>
      <tr>
        <td><%= rotum.destino %></td>
        <td><%= rotum.origem %></td>
        <td><%= rotum.linha %></td>
        <td><%= link_to 'Show', rotum %></td>
        <td><%= link_to 'Edit', edit_rotum_path(rotum) %></td>
        <td><%= link_to 'Destroy', rotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rotum', new_rotum_path %>
