<p id="notice"><%= notice %></p>

<p>
  <strong>Destino:</strong>
  <%= @rotum.destino %>
</p>

<p>
  <strong>Origem:</strong>
  <%= @rotum.origem %>
</p>

<p>
  <strong>Linha:</strong>
  <%= @rotum.linha %>
</p>

<%= link_to 'Edit', edit_rotum_path(@rotum) %> |
<%= link_to 'Back', rota_path %>
