<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @ponto.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @ponto.longitude %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @ponto.rua %>
</p>

<%= link_to 'Edit', edit_ponto_path(@ponto) %> |
<%= link_to 'Back', pontos_path %>
