<%= form_for(@onibus) do |f| %>
  <% if @onibus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@onibus.errors.count, "error") %> prohibited this onibus from being saved:</h2>

      <ul>
      <% @onibus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :placa %><br>
    <%= f.text_field :placa %>
  </div>
  <div class="field">
    <%= f.label :ativo %><br>
    <%= f.check_box :ativo %>
  </div>
  <div class="field">
    <%= f.label :linha_id %><br>
    <%= f.text_field :linha_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
