<p id="notice"><%= notice %></p>

<p>
  <strong>Placa:</strong>
  <%= @onibus.placa %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @onibus.ativo %>
</p>

<p>
  <strong>Linha:</strong>
  <%= @onibus.linha %>
</p>

<%= link_to 'Edit', edit_onibus_path(@onibus) %> |
<%= link_to 'Back', onibuses_path %>
