<!DOCTYPE html>
<html>
<head>
  <title>Gobus - Dashboard</title>
  <%= stylesheet_link_tag "sb-admin" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "jquery" %>
  <!-- Google Maps -->
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBd5M-a0I27FeKt04_E-yaPZpMIplQEqV0&signed_in=true&callback=initMap" %>
  <%= javascript_include_tag "routes.js" %>
  <%= javascript_include_tag "mapsgoogle.js" %>
  <%= csrf_meta_tags %>

  <style>
      html, body {
        margin: 0;
        padding: 0;
      }
      #map {
        height: 500px;
        float: left;
        width: 70%;
      }
#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

      #right-panel {
        margin: 20px;
        border-width: 2px;
        width: 20%;
        float: left;
        text-align: left;
        padding-top: 20px;
      }
      #directions-panel {
        margin-top: 20px;
        background-color: #FFEE77;
        padding: 10px;
      }
    </style>
</head>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">GoBus - Painel de Controle</a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <%= link_to 'Usuários', usuarios_path, :method => :get %>
                    </li>
                    <li>
                        <%= link_to 'Ônibus', onibuses_path, :method => :get %>
                    </li>
                    <li>
                        <%= link_to 'Linhas', linhas_path, :method => :get %>
                    </li>
                    <li>
                        <%= link_to 'Pontos', pontos_path, :method => :get %>
                    </li>
                    <li>
                        <%= link_to 'Rotas', rota_path, :method => :get %>
                    </li>
                    <li>
                        <%= link_to 'Ruas', ruas_path, :method => :get %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    <!-- Navgation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Navbar-Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">GoBus - Painel de Controle</a>
        </div>
        <!-- /.Navbar-Header -->
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    </nav>
    <!-- /.Navgation -->

    <!-- Body -->
    <body>
	   <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <!-- Conteúdo -->
                    <%= yield %>
                    <!-- /.Conteúdo -->
                </div>
                <!-- /.Container-Fluid -->
            </div>
            <!-- /.Page-Wrapper -->
        </div>
    </body>
    <!-- /.Body -->
</html>

